<html>
<head>
  <!-- UIkit CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.7.2/dist/css/uikit.min.css"/>

  <!-- UIkit JS -->
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.7.2/dist/js/uikit.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.7.2/dist/js/uikit-icons.min.js"></script>
</head>
<body style="background: url(https://getuikit.com/images/section-background.svg) 50% 17vh no-repeat,linear-gradient(to left top, #28a5f5, #1e87f0) 0 0 no-repeat;">
<div class="uk-container uk-container-xsmall">
  <div class="uk-card uk-card-default uk-card-body uk-position-center">
    <h3 class="uk-card-title">{{.EndTime}}</h3>
    <form class="uk-form-horizontal uk-margin-large" method="post" action="/updateEndTime">
      <div class="uk-margin">
        <label class="uk-form-label">延长时间（分钟）</label>
        <div class="uk-form-controls">
          <input name="minute" class="uk-input" type="text">
        </div>
      </div>
      <div class="uk-margin">
        <label class="uk-form-label">验证码</label>
        <div class="uk-form-controls">
          <input name="code" class="uk-input" type="password" maxlength="6">
        </div>
      </div>

      <div class="uk-margin">
        <button class="uk-button uk-button-primary" type="submit">修改</button>
      </div>
    </form>
  </div>
</div>

</body>
</html>
